{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 110,
	"endOfLine": "lf",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"overrides": [
		{
			"files": "*.yaml",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
