html, body {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

html, body, input {
    font-family: 'Khand', sans-serif;
    letter-spacing: 0.06em;
    font-weight: 400;
}
